
/* FONTS */
@import url('https://fonts.googleapis.com/css?family=Poppins:300,600,700');
@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,400i,600,700');
@import url('https://fonts.googleapis.com/css?family=Source+Code+Pro:400,700');

html {
  font-size: 1em;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
}
body {
  font-family: 'Open Sans', sans-serif;
  color: $granite-gray;
  font-weight: 400;
  line-height: 1.45;
}

/*
  https://type-scale.com/
  1.414 – Augmented Fourth
  https://goo.gl/mecEDr
*/

h1, h2, h3, h4 {
  font-family: 'Poppins', sans-serif;
  margin: 1.414em 0 .5em;
  font-weight: inherit;
  line-height: 1.2;
}
h1, h2 {
  text-transform: capitalize;
  -webkit-hyphens: auto;
  -ms-hyphens: auto;
  hyphens: auto;
  word-break: normal;
}
h1 {
  margin-top: 0;
  font-size: 3.998em;
  font-weight: 300;
}
h2 {
  font-size: 2.827em;
  font-weight: 600;
}
h3 {
  font-size: 1.999em;
  font-weight: 600;
}
h4 {
  font-size: 1.414em;
  font-weight: 700;
  text-transform: uppercase;
}
small { font-size: .707em; }
.code {
  font-family: 'Source Code Pro', monospace;
  font-size: .9em;
}

h1, h2, h3, h4, h5, h6, p {
  &:first-child {
      margin-top: 0;
  }
  &:last-child {
      margin-bottom: 0;
  }
  &>small {
      color: #aaa;
  }
}

h1, h2, h3, h4, h5, h6 {
  color: $warm-black;

  &.light {
      font-weight: 300;
      color: $granite-gray;
  }
}

a {
  color: $harvard-crimson;
  text-decoration: none;

  &:hover{
      text-decoration: underline;
  }
}

.center {
    text-align: center;
}

.right {
    text-align: right;
}

.caps {
    text-transform: uppercase;
}
